// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$stage1: #fff7f3;
$stage2: #fde0dd;
$stage3: #fcc5c0;
$stage4: #fa9fb5;
$stage5: #f768a1;
$stage6: #dd3497;
$stage7: #ae017e;
$stage8: #7a0177;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "stage1": ($stage1, findColorInvert($stage1)),
    "stage2": ($stage2, findColorInvert($stage2)),
    "stage3": ($stage3, findColorInvert($stage3)),
    "stage4": ($stage4, findColorInvert($stage4)),
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

.zone {
  text-align: center;
  font-weight: bold;
}

div.stage1 {
    background-color: $stage1;
    color: findColorInvert($stage1);
}

div.stage2 {
    background-color: $stage2;
    color: findColorInvert($stage2);
}

div.stage3 {
    background-color: $stage3;
    color: findColorInvert($stage3);
}

div.stage4 {
    background-color: $stage4;
    color: findColorInvert($stage4);
}

div.stage5 {
    background-color: $stage5;
    color: findColorInvert($stage6);
}

div.stage6 {
    background-color: $stage6;
    color: findColorInvert($stage6);
}

div.stage7 {
    background-color: $stage7;
    color: findColorInvert($stage7);
}

div.stage8 {
    background-color: $stage8;
    color: findColorInvert($stage8);
}

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
