$primary: #1f91d3;
$text-primary: $primary;
$primary-invert: findColorInvert($primary);

$colors: (
    "primary": ($primary, $primary-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$stage0: $white;
$stage1: hsl(355, 78%, 94%);
$stage2: hsl(355, 78%, 84%);
$stage3: hsl(355, 78%, 74%);
$stage4: hsl(355, 78%, 64%);
$stage5: hsl(355, 78%, 54%);
$stage6: hsl(355, 78%, 44%);
$stage7: hsl(355, 78%, 34%);
$stage8: hsl(355, 78%, 24%);

$bodyText: hsl(301, 0%, 66%);

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $bodyText;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 20px;
}
  
div.acknowledgments {
    margin-top: 1em;
    color: $bodyText;
}
  
div.acknowledgments-detail {
    display: none;
}
  
div.acknowledgments:hover div.acknowledgments-detail {
    display: block;
}
  
.box.small-box {
    padding: 0.25rem;
}

.zone {
  text-align: center;
  font-weight: bold;
}

div.stage0 {
    background-color: $stage0;
    color: findColorInvert($stage0);
}

div.stage1 {
    background-color: $stage1;
    color: findColorInvert($stage1);
}

div.stage2 {
    background-color: $stage2;
    color: findColorInvert($stage2);
}

div.stage3 {
    background-color: $stage3;
    color: findColorInvert($stage3);
}

div.stage4 {
    background-color: $stage4;
    color: findColorInvert($stage4);
}

div.stage5 {
    background-color: $stage5;
    color: findColorInvert($stage6);
}

div.stage6 {
    background-color: $stage6;
    color: findColorInvert($stage6);
}

div.stage7 {
    background-color: $stage7;
    color: findColorInvert($stage7);
}

div.stage8 {
    background-color: $stage8;
    color: findColorInvert($stage8);
}

$daySummary: $primary;
div.day-summary {
    background-color: $daySummary;
    color: findColorInvert($daySummary);
}