$stage1: #fff7f3;
$stage2: #fde0dd;
$stage3: #fcc5c0;
$stage4: #fa9fb5;
$stage5: #f768a1;
$stage6: #dd3497;
$stage7: #ae017e;
$stage8: #7a0177;

#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 20px;
}
  
div.acknowledgments {
    margin-top: 1em;
    color: darkgray;
}
  
div.acknowledgments-detail {
    display: none;
}
  
div.acknowledgments:hover div.acknowledgments-detail {
    display: block;
}
  
.box.small-box {
    padding: 0.25rem;
}

.zone {
  text-align: center;
  font-weight: bold;
}

div.stage1 {
    background-color: $stage1;
    color: findColorInvert($stage1);
}

div.stage2 {
    background-color: $stage2;
    color: findColorInvert($stage2);
}

div.stage3 {
    background-color: $stage3;
    color: findColorInvert($stage3);
}

div.stage4 {
    background-color: $stage4;
    color: findColorInvert($stage4);
}

div.stage5 {
    background-color: $stage5;
    color: findColorInvert($stage6);
}

div.stage6 {
    background-color: $stage6;
    color: findColorInvert($stage6);
}

div.stage7 {
    background-color: $stage7;
    color: findColorInvert($stage7);
}

div.stage8 {
    background-color: $stage8;
    color: findColorInvert($stage8);
}

$daySummary: darkslategray;
div.day-summary {
    background-color: $daySummary;
    color: findColorInvert($daySummary);
}